bin
.scala_dependencies
.cache-*
dist
timestamp.txt
project/boot
project/build/target
lib_managed
src_managed
target
project/plugins/project
/project
/project077
.DS_Store
*.iml
.idea/*
/target
xmlcfg
